<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加婚纱组</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'js/lib/bootstrap-3.3.7-dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/common1.css' %}">
    <script type="text/javascript" src="{% static 'js/lib/jQuery3.2.1/jquery-3.2.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lib/bootstrap-3.3.7-dist/js/bootstrap.js' %}"></script>
    <!--    <meta charset="UTF-8">-->
    <!--    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">-->
    <!--    <link rel="stylesheet" type="text/css" href="{% static 'js/lib/easyui/themes/metro/easyui.css' %}">-->
    <!--    <link rel="stylesheet" type="text/css" href="{% static 'js/lib/easyui/themes/mobile.css' %}">-->
    <!--    <link rel="stylesheet" type="text/css" href="{% static 'js/lib/easyui/themes/icon.css' %}">-->
    <!--    <script type="text/javascript" src="{% static 'js/lib/easyui/jquery.min.js' %}"></script>-->
    <!--    <script type="text/javascript" src="{% static 'js/lib/easyui/jquery.easyui.min.js' %}"></script>-->
    <!--    <script type="text/javascript" src="{% static 'js/lib/easyui/jquery.easyui.mobile.js' %}"></script>-->
</head>
<body>
<div class="container-fluid" style="height: 100px">


    <div>
        <div class="text text-center text-danger">
            <h3 style="">{{ msg }}</h3>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-6">
            <form class="form-horizontal" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="text-primary">
                    <div class="form-group">
                        <label for="name" class="col-sm-3 control-label">婚纱组名</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="name" id="name" placeholder="请填写婚纱名..."
                                   required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="select" class="col-sm-3 control-label">组内婚纱1</label>
                        <div class="col-sm-9">
                            <select  class="form-control" name="select1" id="select" >
                                <option >点击此处选择婚纱</option>
                                {% for bv in allBv %}
                                <option class="select" value="{{ bv.id }}">{{ bv.bv_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="select2" class="col-sm-3 control-label">组内婚纱2</label>
                        <div class="col-sm-9">
                            <select  class="form-control" name="select2" id="select2" >
                                <option >点击此处选择婚纱</option>
                                {% for bv in allBv %}
                                <option class="select" value="{{ bv.id }}">{{ bv.bv_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="select3" class="col-sm-3 control-label">组内婚纱3</label>
                        <div class="col-sm-9">
                            <select  class="form-control" name="select3" id="select3" >
                                <option >点击此处选择婚纱</option>
                                {% for bv in allBv %}
                                <option class="select" value="{{ bv.id }}">{{ bv.bv_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="select4" class="col-sm-3 control-label">组内婚纱4</label>
                        <div class="col-sm-9">
                            <select  class="form-control" name="select4" id="select4" >
                                <option >点击此处选择婚纱</option>
                                {% for bv in allBv %}
                                <option class="select" value="{{ bv.id }}">{{ bv.bv_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-10">
                            <button type="submit" class="btn btn-primary">添加</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-2"></div>
    </div>

</div>
<script>
    $bv = $(".select").val();
    console.log($bv)
</script>
</body>
</html>