{% extends 'base.html' %}
{% block title %} 管理员首页 {% endblock %}
{% block nav %}
{% endblock %}
{% block middle %}

<!--<div style="margin:20px 0;"></div>-->
<div class="easyui-layout" style="width:100%;height:600px">
    <div data-options="region:'north'" style="height:50px">
        <h3 class="text-center">后台管理系统</h3>
    </div>
    <div data-options="region:'south',split:true" style="height:50px;"></div>
    <div data-options="region:'west',split:true" title="West" style="width:200px;">
        <ul class="easyui-tree" data-options="animate:true">
            <li>
                <span>功能列表</span>
                <ul>
<!--                    <li data-options="state:'closed'">-->
                    <li>
                        <span>婚纱管理</span>
                        <ul>
                            <li>
                                <a onclick=addTab('添加婚纱','http://127.0.0.1:8000/myAdmin/addBv/')>添加婚纱 </a>
                            </li>
                            <li>
                                <a onclick=addTab('查看婚纱','http://127.0.0.1:8000/myAdmin/showBv/0/')>查看婚纱</a>
                            </li>
                            <li>
                                <a onclick=addTab('添加婚纱组','http://127.0.0.1:8000/myAdmin/addBvs/')>添加婚纱组</a>
                            </li>
                            <li>
                                <a onclick=addTab('查看婚纱组','http://127.0.0.1:8000/myAdmin/showBvs/')>查看婚纱组</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span>场地管理</span>
                        <ul>
                            <li>
                                <a onclick=addTab('添加场地','http://127.0.0.1:8000/myAdmin/addSpace/')>添加场地 </a>
                            </li>
                            <li>
                                <a onclick=addTab('查看场地','http://127.0.0.1:8000/myAdmin/showSpace/')>查看场地</a>
                            </li>
                        </ul>
                    </li>
                    <li>index.html</li>
                    <li>about.html</li>
                    <li>welcome.html</li>
                </ul>
            </li>
        </ul>
    </div>
    <div data-options="region:'center',iconCls:'icon-ok'" id="tt" class="easyui-tabs" >
<!--        <h3 class="text-center text-primary">欢迎来到影楼后台管理系统！</h3>-->
    </div>
</div>

<!--<div style="margin-bottom:10px">-->
<!--    <a href="#" class="easyui-linkbutton" onclick="addTab('google','http://www.google.com')">google</a>-->
<!--    <a href="#" class="easyui-linkbutton" onclick="addTab('jquery','http://jquery.com/')">jquery</a>-->
<!--    <a href="#" class="easyui-linkbutton" onclick="addTab('easyui','http://jeasyui.com/')">easyui</a>-->
<!--</div>-->
<script>
     function addTab(title, url){
        if ($('#tt').tabs('exists', title)){
            $('#tt').tabs('select', title);
        } else {
            url_left = '{% url ' ;
            url_right = ' % }';
            url_real = url_left+"'"+url+"'"+url_right;
            console.log(url_real);
            var content = '<iframe scrolling="auto" frameborder="0"  src="'+url+'" style="width:100%;height:1000px;"></iframe>';
            $('#tt').tabs('add',{
                title:title,
                content:content,
                closable:true,
                refresh:true,
            });
        }
    }
</script>
{% endblock %}