<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'js/lib/bootstrap-3.3.7-dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/common1.css' %}">
    <script type="text/javascript" src="{% static 'js/lib/jQuery3.2.1/jquery-3.2.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lib/bootstrap-3.3.7-dist/js/bootstrap.js' %}"></script>
    <!--    <meta charset="UTF-8">-->
    <!--    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">-->
    <!--    <link rel="stylesheet" type="text/css" href="{% static 'js/lib/easyui/themes/metro/easyui.css' %}">-->
    <!--    <link rel="stylesheet" type="text/css" href="{% static 'js/lib/easyui/themes/mobile.css' %}">-->
    <!--    <link rel="stylesheet" type="text/css" href="{% static 'js/lib/easyui/themes/icon.css' %}">-->
    <!--    <script type="text/javascript" src="{% static 'js/lib/easyui/jquery.min.js' %}"></script>-->
    <!--    <script type="text/javascript" src="{% static 'js/lib/easyui/jquery.easyui.min.js' %}"></script>-->
    <!--    <script type="text/javascript" src="{% static 'js/lib/easyui/jquery.easyui.mobile.js' %}"></script>-->
</head>
<body>
<div class="container-fluid" style="height: 100px">
    {% for bvs in allBvs %}
    <div class="panel panel-default">
        <!-- Default panel contents -->

        <div class="panel-heading">
            操作：
            <a class="btn btn-danger" href="{% url 'Admin:deleteBvs' bvs.id %}">删除</a>

            <span class="col-sm-3">组名：{{ bvs.bvs_name }}</span>
            <span class="col-sm-3">价格：{{ bvs.bvs_prices }}</span>
            <span class="col-sm-3">热度：{{ bvs.bvs_sale_num }}</span>
        </div>


        <!-- Table -->
        <table class="table">
            <tr>
                <td class="danger">序号</td>
                <td class="active">图片</td>
                <td class="success">名字</td>
                <td class="warning">简介</td>
            </tr>
            {% for bv in bvs.bvs_bv.all %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>
                    <img src="/{{ bv.bv_image }}" alt="..." style="height: 40px">
                </td>
                <td>{{ bv.bv_name }}</td>
                <td>{{ bv.bv_detail }}</td>
            </tr>
            {% endfor %}

        </table>
    </div>
    {% endfor %}
    <!--    <div class="row">-->
    <!--        {% for bv in allBv %}-->
    <!--        <div class="col-sm-6 col-md-4">-->
    <!--            <div class="thumbnail">-->
    <!--                <img src="/{{ bv.bv_image }}" alt="{{ bv.bv_name }}" title="{{ bv.bv_name }}" style="height: 150px">-->
    <!--                <div class="caption">-->
    <!--                    <span>{{ bv.bv_detail | truncatechars:10 }}</span>-->
    <!--                    <p class="text-center"><a href="{% url 'Admin:deleteBv' bv.id %}" class="btn btn-danger" role="button">删除</a> <a href="{% url 'Admin:updateBv' bv.id %}"-->
    <!--                                                                                                       class="btn btn-primary"-->
    <!--                                                                                                       role="button">修改</a>-->
    <!--                    </p>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--        {% endfor %}-->

    <!--    </div>-->
</div>
</body>
</html>