{% extends 'base.html' %}
{% block title %} 管理员首页 {% endblock %}
{% block nav %}
{% endblock %}
{% block middle %}
{% load static %}
{% block img %}
{% endblock %}
<div class="col-md-2"></div>
<div class="col-md-8">
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h2 class="panel-title text-center">{{n.notice_title}}</h2>
        </div>
        <div class="panel-body">
            <div class="row text-center ">
                发表时间：{{n.notice_time}}
            </div>
            <hr>
            <p class="content">
                {{n.notice_content | safe }}
            </p>
        </div>
    </div>
</div>
{% endblock %}