<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'js/lib/bootstrap-3.3.7-dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/common1.css' %}">
    <script type="text/javascript" src="{% static 'js/lib/jQuery3.2.1/jquery-3.2.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lib/bootstrap-3.3.7-dist/js/bootstrap.js' %}"></script>
    <!--    <meta charset="UTF-8">-->
    <!--    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">-->
    <!--    <link rel="stylesheet" type="text/css" href="{% static 'js/lib/easyui/themes/metro/easyui.css' %}">-->
    <!--    <link rel="stylesheet" type="text/css" href="{% static 'js/lib/easyui/themes/mobile.css' %}">-->
    <!--    <link rel="stylesheet" type="text/css" href="{% static 'js/lib/easyui/themes/icon.css' %}">-->
    <!--    <script type="text/javascript" src="{% static 'js/lib/easyui/jquery.min.js' %}"></script>-->
    <!--    <script type="text/javascript" src="{% static 'js/lib/easyui/jquery.easyui.min.js' %}"></script>-->
    <!--    <script type="text/javascript" src="{% static 'js/lib/easyui/jquery.easyui.mobile.js' %}"></script>-->
</head>
<body>
<div class="container-fluid" style="height: 100px">
    {% for bvs in allBvs %}
    <div class="panel panel-default">
        <!-- Default panel contents -->

        <div class="panel-heading" style="height: 50px">
            {% if request.session.login_admin %}
            操作：
            <a class="btn btn-danger" href="{% url 'Admin:deleteBvs' bvs.id %}">删除</a>
            {% endif %}
            <input class="btn btn-primary" type="button" name="Submit" onclick="javascript:history.back(-1);" value="返回">
            <span class="col-sm-3">组名：{{ bvs.bvs_name }}</span>
            <span class="col-sm-3">价格：{{ bvs.bvs_prices }}</span>
            <span class="col-sm-3">热度：{{ bvs.bvs_sale_num }}</span>
        </div>


        <!-- Table -->
        <table class="table">
            <tr>
                <td class="danger">序号</td>
                <td class="active">图片</td>
                <td class="success">名字</td>
                <td class="warning">简介</td>
            </tr>
            {% for bv in bvs.bvs_bv.all %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>
                    <img src="/{{ bv.bv_image }}" alt="..." style="height: 40px">
                </td>
                <td>{{ bv.bv_name }}</td>
                <td>{{ bv.bv_detail }}</td>
            </tr>
            {% endfor %}

        </table>
    </div>
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h2 class="panel-title text-center">婚纱组评论</h2>
        </div>
        <div class="panel-body">
            {% if bvs.comment_bvs_set %}
            {% for b in bvs.comment_bvs_set.all %}
            <div class="row text-center ">
                订单号：{{ b.order.id }}&nbsp;&nbsp;婚纱组：{{ b.c_bvs.bvs_name }}&nbsp;&nbsp;评论时间：{{b.c_time}}
            </div>
            <hr>
            <p class="content">
                {{b.c_content | safe }}
            </p>
            <hr>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    {% endfor %}

</div>
</body>
</html>